<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - USMPWEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/USMPWEB.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/ico/favicon_USMP.png" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-bar-bgprimary border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img alt="USMP FIA" class="img-fluid img-logo-header" src="~/images/logo-header.png">
                </a>
                <div>
                    <p class="font-p mb-0">Universidad San Martin de Porres</p>
                    <span class="font-span">@ViewData["CurrentDateTime"]</span>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    @if (User.Identity.IsAuthenticated)
                        {
                            <div class="perfil-div">
                                <div class="img">
                                    <img style="height: 40px;" src="~/images/personas/1.png" alt="Usuario">
                                </div>
                                <div class="parrafo">
                                    <p class="mt-0 mb-0">@User.Identity.Name</p> <!-- Nombre del usuario -->
                                </div>
                                <div class="dropdown-container">
                                    <button id="dropdown-btn" class="dropdown-btn">
                                        <i class="lni lni-chevron-down"></i>
                                    </button>
                                    <div id="dropdown-content" class="dropdown-content">
                                        <a asp-controller="Login" asp-action="Logout">Cerrar sesión</a> <!-- Cierre de sesión -->
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-controller="Login" asp-action="Index">
                                    <button class="btnlog">Iniciar Sesión</button>
                                </a>
                                <a asp-controller="Login" asp-action="Register">
                                    <button class="btnlog">Registrate</button>
                                </a>
                            </div>
                        }
                    @* <partial name="_LoginPartial" /> *@

                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button id="toggle-btn" type="button">
                    <i class="lni lni-menu"></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="sidebar-link">
                        <div class="round-border bg-redusmp">
                            <img alt="USMP FIA" class="img-fluid img-logo-usmp" src="~/images/home-icon.svg">
                        </div>
                        <span>Campañas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-area="" asp-controller="Inscripciones" asp-action="Index" class="sidebar-link">
                        <div class="round-border bg-redusmp">
                            <img alt="USMP FIA" class="img-fluid img-logo-usmp" src="~/images/calendario-icon.svg">
                        </div>
                        <span>Inscripciones</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-area="" asp-controller="Certificados" asp-action="Index" class="sidebar-link">
                        <div class="round-border bg-redusmp">
                            <img alt="USMP FIA" class="img-fluid img-logo-usmp" src="~/images/certificate-icon.svg">
                        </div>
                        <span>Certificados</span>
                    </a>
                </li>
                @* <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <div class="round-border bg-redusmp">
                            <img alt="USMP FIA" class="img-fluid img-logo-usmp" src="~/images/network-icon.svg">
                        </div>
                        <span>Comunidad</span>
                    </a>
                </li> *@
                <li class="sidebar-item">
                    <a asp-controller="Contacto" asp-action="Registro" class="sidebar-link">
                        <div class="round-border bg-redusmp">
                            <img alt="USMP FIA" class="img-fluid img-logo-usmp" src="~/images/contacto-icon.png">
                        </div>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </aside>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li>Institutos Academicos</li>
                        <li>Centro de Idiomas</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>USMP VIRTUAL</li>
                        <li>BIBLIOTECA CENTRAL</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>NOTICIAS USMP</li>
                        <li>DIRECTORIO USMP</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>BOLSA DE TRABAJO</li>
                        <li>POLITICA DE PRIVACIDAD</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <li>TRANSPARENCIA</li>
                    <li>LIBRO DE RECLAMACIONES</li>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="lni lni-facebook"></i>
                        </div>
                        <div class="col-md-6">
                            <i class="lni lni-instagram"></i>
                        </div>
                        <div class="col-md-6">
                            <i class="lni lni-youtube"></i>
                        </div>
                        <div class="col-md-6">
                            <i class="lni lni-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
