@model USMPWEB.Models.Campanas

<div class="p-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 left-section" style="padding-left: 0px">
        <img style="width: 100%" src="@Model.Imagen" alt="Imagen de @Model.Titulo" alt="Program Image" />
      </div>

      <div class="col-lg-8">
        <div class="row mt-4">
            <h6>@Model.Titulo</h6>
          <div class="col-md-9 align-content-center">
            <div class="content-imgs">
              <img style="width: 40px; height: 40px" src="~/ico/educacion.png" alt="role niños" />
              <img style="width: 40px; height: 40px" src="~/ico/voley.png"  alt="role niños" />
              <img style="width: 40px; height: 40px" src="~/ico/salud.png"  alt="role niños" />
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary ms-auto mt-4 p-home__bg-primary">Únete</button>
            <p style="font-size: 11px">Cierre de Postulaciones </br> el @Model.FechaFin</p>
          </div>
        </div>
        <div style="margin-top: 2rem" class="card">
          <div class="card-body">
            <h6>Sobre el Programa</h6>
            <p>Estudiantes de 9no ciclo en adelante y/o egresados en Psicología</p>
            <ul style="font-size: 11px; padding: 0px">
              <li>Brindar atención psicológica gratuita</li>
              <li>Brindar un programa adecuado para el paciente</li>
              <li>Elaboración de informes psicológicos</li>
              <li>Toma de pruebas psicológicas de requerir</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h6>Requisitos e Indicaciones</h6>
            <ul style="font-size: 11px; padding: 0px">
              <li>1. Disponibilidad: 25 horas a la semana - Horario flexible</li>
              <li>2. Compromiso hacia el programa</li>
              <li>3. Resolución de problemas</li>
              <li>4. Comunicación efectiva</li>
              <li>5. Trabajo en equipo</li>
              <li>6. Modalidad remota</li>
              <li>7. Experiencia en el área deseable</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
